@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

@media (min-width: $screen-md-min) {
    .cl-menu-toggle {
        display: none;
    }

    .cl-navigation {
        float:left;
        width: 20%;
    }

    .cl-menu {
        margin-right: 10px;
    }

    .cl-content {
        float:left;
        width: 80%;
    }
}

@media (max-width: $screen-md-min) {
    .cl-navigation {
        display: none;
    }

    .cl-navigation-visible {
        display: block;
    }
}