.cl-menu-item {
    > a, > span {
        display: block;
        padding: 0.2em 0 0.2em 0.2em;
        &.active {
            font-weight: bold;
        }
    }
}

.cl-menu-item-level-1 {
    li {
        padding-left: 10px;
    }
}