.cl-menu {
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 10px;
}

.cl-menu-item {
    > a, > span {
        padding: 2px;

        display: block;

        &.active {
            font-weight: bold;
        }
    }
}

.cl-menu-item-level-1 {
    li {
        padding-left: 10px;
    }
}