.cl-node {
    $anchor-offset: $navbar-height + 50px;

    padding-top:$anchor-offset;
    margin-top:-$anchor-offset;
}

.cl-node-level-1 {
    .cl-node-subtree {
        padding: 10px;
        border-top: 1px dotted #eaeaea;
        border-left: 2px solid transparent;

        &:hover {
            border-left: 2px solid #eaeaea;
        }
    }
}

.cl-node-temaplate-code {
    margin-top: 10px;

    .cl-node-template-code-content {
        margin-top: 10px;
        display: none;

        &[cl-visible] {
            display: block;
        }
    }
}

.cl-node-header {
    .cl-node-header-link {
        margin-left: 0.5em;
        color: $headings-color !important;
        font-weight: normal !important;
        visibility: hidden;
    }

    &:hover {
        .cl-node-header-link {
            visibility: visible;
        }
    }
}