$border-radius-base: 0px;
$navbar-inverse-bg: #333333;
$padding-base-vertical: 0px;
$navbar-padding-vertical: 5px;
$navbar-height: 30px;
$class-prefix: cl-bs;
@import "bootstrap-sass-namespace/assets/stylesheets/bootstrap/_variables.scss";