mixin itemLink(element)
  a(href=baseUrl + element.path, class=element.path === current.path ? 'active' : undefined)
    = element.name

mixin navigation(element, depth)
  li(class='ks-navigation-item ks-navigation-item-level-' + depth)
    +itemLink(element)
    if element.children
      ul.list-unstyled
        each child in element.children
          +navigation(child, depth + 1)