mixin itemLink(element)
  a(href=baseUrl + element.path, class=element.path === current.path ? 'active' : undefined)
    = element.name

mixin navigation(element, depth)
  li(class='ks-navigation-item ks-navigation-item-level-' + depth)
    if element.children
      if (element.index)
        +itemLink(element.index)
      else
        span=element.name
      ul.list-unstyled
        each child in element.children
          +navigation(child, depth + 1)
    else
      +itemLink(element)