include mixins/navigation.jade
include mixins/template.jade
include mixins/tree.jade

doctype html
html(lang="en")
  head
    title= title
    link(href=baseUrl + 'css/ks.css', rel='stylesheet')
  body.ks-body
    .ks
      a(href=baseUrl +'index.html')=title
    .ks-layout
      .ks-content
        if (current.children)
          +tree(current)
        else
          +template(current)
      .ks-menu
        .ks
          ul.list-unstyled

            +navigation(tree, 0)
