include mixins/navigation.jade

doctype html
html(lang="en")
  head
    title= title
    link(href=baseUrl + 'css/ks.css', rel='stylesheet')
  body.ks-body
    .ks
      h1=title
    .ks-layout
      .ks-content
        if (current.name)
          h1.ks-content-title=current.name
        !=templateRender(current.path)
      .ks-menu
        .ks
          ul.list-unstyled
            +navigation(tree, 0)
