<script>
    // Save original jQuery
    var clOriginalJquery,
        clOriginal$;

    if (typeof jQuery !== 'undefined') {
        clOriginalJquery = jQuery;
    }

    if (typeof $ !== 'undefined') {
        clOriginal$ = $;
    }
</script>

<script>
    BOOTSTRAP_NAMESPACE = 'cl-bs';
</script>

<script src="{{ baseUrl + 'assets_/jquery/jquery.js' }}"></script>
<script src="{{ baseUrl + 'assets_/smartmenus-namespace/jquery.smartmenus.js' }}"></script>
<script src="{{ baseUrl + 'assets_/smartmenus-namespace/addons/bootstrap/jquery.smartmenus.bootstrap.js' }}"></script>
<script src="{{ baseUrl + 'assets_/assets/js/cl.js' }}"></script>
<script src="{{ baseUrl + 'assets_/bootstrap-namespace/dropdown.js' }}"></script>
<script>
    $.noConflict();

    // Restore original jQuery
    if (clOriginalJquery) {
        jQuery = clOriginalJquery;
    }

    if (clOriginal$) {
        $ = clOriginal$;
    }
</script>