<!DOCTYPE html>
{% from 'macro/navigation.njk' import navigation %}
{% from 'macro/element-tree.njk' import elementTree %}
{% from 'macro/search-tree.njk' import searchTree %}
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="{{ favicon.href }}" rel="{{ favicon.rel }}" type="{{ favicon.type }}">
    {% for cssFile in css %}
        <link href="{{ cssFile }}" rel="stylesheet">
    {% endfor %}
    <link href="{{ baseUrl + 'assets_/css/cl.css' }}" rel="stylesheet">
</head>
<body>
    <div class="cl-bs-tag-html">
        <div class="cl-bs-tag-body">
            <div class="cl-bs-navbar cl-bs-navbar-inverse cl-bs-navbar-fixed-top" role="navigation">
                <div class="cl-bs-container">
                    <div class="cl-bs-navbar-header">
                        <button type="button" class="cl-bs-navbar-toggle cl-bs-tag-button cl-navigation-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="cl-bs-icon-bar"></span>
                            <span class="cl-bs-icon-bar"></span>
                            <span class="cl-bs-icon-bar"></span>
                        </button>
                    </div>
                    <div class="cl-bs-navbar-collapse cl-bs-collapse cl-navigation-collapse">
                        <ul class="cl-bs-tag-ul cl-bs-nav cl-bs-navbar-nav">
                            {% for child in tree.children %}
                                {{ navigation(child, baseUrl, current) }}
                            {% endfor %}
                        </ul>

                        <div class="cl-bs-navbar-form cl-bs-pull-right cl-bs-hidden-xs">
                            <div class="cl-bs-dropdown">
                                <input type="text" class="cl-bs-tag-input cl-bs-form-control cl-bs-form-control-sm" placeholder="Search" id="cl-search">
                                <ul class="cl-bs-dropdown-menu">
                                    {{ searchTree(tree, baseUrl) }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cl-content-wrapper">
        <div class="cl-content">
            {{ elementTree(current, 1, baseUrl) }}
        </div>
    </div>

    <script>
        BOOTSTRAP_NAMESPACE = 'cl-bs';
    </script>

    <script src="{{ baseUrl + 'assets_/jquery/jquery.js' }}"></script>
    <script src="{{ baseUrl + 'assets_/smartmenus-namespace/jquery.smartmenus.js' }}"></script>
    <script src="{{ baseUrl + 'assets_/smartmenus-namespace/addons/bootstrap/jquery.smartmenus.bootstrap.js' }}"></script>
    <script src="{{ baseUrl + 'assets_/assets/js/cl.js' }}"></script>
    <script src="{{ baseUrl + 'assets_/bootstrap-namespace/dropdown.js' }}"></script>

    {% for jsFile in js %}
        <script src="{{ jsFile }}"></script>
    {% endfor %}
</body>
</html>