.cl-icon-list {
    list-style: none;
    padding: 0;
    @include clearfix;


    >li {
        float: left;
        width: 25%;
        height: 115px;
        padding: 10px;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        background-color: #f9f9f9;
        border: 1px solid #fff;

        @media (min-width: $screen-sm-min) {
            width: 12.5%;
            font-size: 12px;
        }

        >span:first-child {
            font-size: 24px;
            margin-bottom: 10px;
        }

        >span:last-child {
            display: block;
            word-wrap: break-word;
        }
    }
}