@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$color-border-radius: 5px !default;

.cl-palette {
    @extend .cl;

    padding: 0;
    list-style: none;
    text-align: center;

    li {
        color: #fff;
        @media (min-width: $screen-md-min) {
            display: inline-block;
            vertical-align: top;
            width: 19%;
        }
    }

    h3 {
        color: #333;
        font-size: 14px;
        font-weight: 600;
        margin: 20px 0 10px 0;
    }

    .color {
        height: 120px;
        padding-top: 1.5em;

        &:first-of-type {
            border-top-left-radius: $color-border-radius;
            border-top-right-radius: $color-border-radius;
        }

        &:last-of-type {
            border-bottom-right-radius: $color-border-radius;
            border-bottom-left-radius: $color-border-radius;
        }
    }
}