@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.cl-palette {
    @extend .cl;

    padding: 0;
    list-style: none;
    text-align: center;

    li {
        color: #fff;
        @media (min-width: $screen-md-min) {
            display: inline-block;
            width: 19%;
        }
    }

    h3 {
        color: #333;
        font-size: 14px;
        font-weight: 600;
        margin: 20px 0 10px 0;
    }

    .color {
        height: 120px;
        border-radius: 5px 5px 0 0;
        padding-top: 1.5em;

        &:last-child {
            border-radius: 0 0 5px 5px;
        }
    }
}