<ul class="list-group">
	<li class="list-group-item">Simple item</li>
    <li class="list-group-item">Item with badge <span class="badge">5</span></li>
    <li class="list-group-item active">Active item</li>
    <li class="list-group-item list-group-item-success">Success</li>
    <li class="list-group-item list-group-item-info">Info</li>
    <li class="list-group-item list-group-item-warning">Warning</li>
    <li class="list-group-item list-group-item-danger">Danger</li>
</ul>
<div class="list-group">
    <a href="#" class="list-group-item">A link</a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Try drying chickpeas paste blended with truffels sauce.</h4>
        <p class="list-group-item-text">Per guest prepare six peaces of vinegar with pressed ground beef for dessert.</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">To the divided garlic add bagel, steak, salsa verde and packaged asparagus.</h4>
        <p class="list-group-item-text">Per guest prepare four tablespoons of red wine with warmed ghee for dessert.</p>
    </a>
</div>