<div class="row">
    <div class="col-sm-4">
        <ol class="eo-steps eo-steps-infographic">
            <li>
                <h2 class="eo-steps-step-title">.eo-steps-step-title</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li class="active">
                <h2 class="eo-steps-step-title">Active Item</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li>
                <h2 class="eo-steps-step-title">Lorem Ipsum</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li class="disabled">
                <h2 class="eo-steps-step-title">Disabled item</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
        </ol>
    </div>
    <div class="col-sm-4">
        <ol class="eo-steps eo-steps-primary">
            <li>
                <h2 class="eo-steps-step-title">.eo-steps-step-title</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li class="active">
                <h2 class="eo-steps-step-title">Active Item</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li>
                <h2 class="eo-steps-step-title">Lorem Ipsum</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li class="disabled">
                <h2 class="eo-steps-step-title">Disabled item</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
        </ol>
    </div>
    <div class="col-sm-4">
        <ol class="eo-steps eo-steps-success">
            <li>
                <h2 class="eo-steps-step-title">.eo-steps-step-title</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li class="active">
                <h2 class="eo-steps-step-title">Active Item</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li>
                <h2 class="eo-steps-step-title">Lorem Ipsum</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li class="disabled">
                <h2 class="eo-steps-step-title">Disabled item</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <ol class="eo-steps eo-steps-info">
            <li>
                <h2 class="eo-steps-step-title">.eo-steps-step-title</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li class="active">
                <h2 class="eo-steps-step-title">Active Item</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li>
                <h2 class="eo-steps-step-title">Lorem Ipsum</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li class="disabled">
                <h2 class="eo-steps-step-title">Disabled item</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
        </ol>
    </div>
    <div class="col-sm-4">
        <ol class="eo-steps eo-steps-warning">
            <li>
                <h2 class="eo-steps-step-title">.eo-steps-step-title</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li class="active">
                <h2 class="eo-steps-step-title">Active Item</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li>
                <h2 class="eo-steps-step-title">Lorem Ipsum</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li class="disabled">
                <h2 class="eo-steps-step-title">Disabled item</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
        </ol>
    </div>
    <div class="col-sm-4">
        <ol class="eo-steps eo-steps-danger">
            <li>
                <h2 class="eo-steps-step-title">.eo-steps-step-title</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li class="active">
                <h2 class="eo-steps-step-title">Active Item</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li>
                <h2 class="eo-steps-step-title">Lorem Ipsum</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
            <li class="disabled">
                <h2 class="eo-steps-step-title">Disabled item</h2>
                <p>
                    Try drying loaf brushed with lime, soaked with anise.
                </p>
            </li>
        </ol>
    </div>
</div>