{% macro elementTree(element, depth, baseUrl) %}
    <div class="cl-node cl-node-level-{{ depth }}{{ 'cl-node-template' if not element.children }}">
        <div class="cl">
            <div class="cl-node-header h{{ depth }}" cl-url="{{ baseUrl + element.relativePath }}">
                {{ element.name }}
                <a href="{{ baseUrl + element.relativePath }}" class="cl-node-header-link" name="{{ baseUrl + element.relativePath }}">
                    <i class="cl-fa cl-fa-paragraph"></i>
                </a>
            </div>
        </div>
        {% if element.children %}
            <div class="cl-node-subtree">
                {% for child in element.children %}
                    {{ elementTree(child, depth + 1, baseUrl) }}
                {% endfor %}
            </div>
        {% else %}
            <div class="cl-node-template-preview">
                {{ element.path | template | safe }}
            </div>
            <div class="cl cl-node-temaplate-code cl-js-template-code">
                <button class="btn btn-default btn-xs cl-js-template-code-toggle">
                    <i class="cl-fa cl-fa-code"></i>
                </button>
                <pre class="cl-node-template-code-content cl-js-template-code-content"><code class="html">{{ element.path | template }}</code></pre>
            </div>
        {% endif %}
    </div>
{% endmacro %}