{% macro navigation(tree, depth, baseUrl, current) %}
    <li class="cl-menu-item cl-menu-item-level-{{ depth }}">
        <a href="{{ baseUrl + 'index.html#' + baseUrl + tree.relativePath }}"
            cl-href="{{ baseUrl + tree.relativePath }}"
            class="{{ 'cl-active' if (tree.relativePath == current.relativePath and depth > 0) }}">
            {{ tree.name }}
        </a>
        {% if tree.children %}
            <ul class="list-unstyled">
                {% for child in tree.children %}
                    {{ navigation(child, depth + 1, baseUrl, current) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}