{% macro navigation(tree, baseUrl, current) %}
    <li>
        <a href="{{ baseUrl + 'index.html#' + baseUrl + tree.relativePath }}">
            {{ tree.name }}

            {% if tree.children %}
                <span class="caret"></span>
            {% endif %}
        </a>
        {% if tree.children %}
            <ul class="dropdown-menu">
                {% for child in tree.children %}
                    {{ navigation(child, baseUrl, current) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}