mixin template(element)
  .cl-template
    .cl
      h3.cl-template-title=element.name
    !=templateRender(element.path)
    .cl.cl-template-code
      button.btn.btn-default.btn-xs.cl-template-code-toggle
        i.cl-fa.cl-fa-code
      pre.cl-template-code-content
        code.html
          =templateRender(element.path)