mixin tree(element, depth)
  .cl-node(class='cl-node-level-' + depth + (element.children ? '' : ' cl-node-template'))
    .cl
      div.cl-node-header(class='h' + depth, cl-url=baseUrl + element.path)
        =element.name
        a.cl-node-header-link(href=baseUrl + element.path)
          i.cl-fa.cl-fa-paragraph
    if (element.children)
      .cl-node-subtree
        each child in element.children
          +tree(child, depth + 1)
    else
      .cl-node-template-preview
        !=templateRender(element.path)
      .cl.cl-node-temaplate-code.cl-js-template-code
        button.btn.btn-default.btn-xs.cl-js-template-code-toggle
          i.cl-fa.cl-fa-code
        pre.cl-node-template-code-content.cl-js-template-code-content
          code.html
            =templateRender(element.path)